@property --start-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #183659;
}

@property --border-radius {
    syntax: '<angle>';
    inherits: false;
    initial-value: 94.14deg;
}

.border {
    cursor: pointer;
    --height: 67px;
    --border-size: 2px;
    --border-radius: 94.14deg;
    --animation-time: 0.5s;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: var(--height);
    padding: var(--border-size);
    border-radius: var(--height);
    background: linear-gradient(var(--border-radius), #00ACFF 40.69%, #006799 65.02%);
    transition: padding var(--animation-time), --border-radius var(--animation-time);


    .interest_quiz_button {
        --start-color: #183659;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 14px;
        font-family: Poppins;
        font-size: 18px;
        background: linear-gradient(90deg, #001E42 0%, var(--start-color) 52.88%, #001E42 100%);
        transition: --start-color var(--animation-time);
        border-radius: var(--height);
    }

    &:hover {
        --border-size: 3px;
        --border-radius: 262.5deg;

        .interest_quiz_button {
            --start-color: #266A8F;
        }
    }
}

.secondary {
    cursor: pointer;
    --height: 67px;
    --border-size: 2px;
    width: 100%;
    display: flex;
    gap: 14px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: var(--height);
    padding: var(--border-size);
    border-radius: var(--height);
}

.image {
    width: 20px;
    height: 20px;
}