@property --start-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #99CEFF;
}

@property --start-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #FFE0E0;
}

.background {
    --start-color: #99CEFF;
    --end-color: #FFE0E0;
    position: relative;
    overflow: hidden;
    transition: --start-color 1.5s, --end-color 1.5s;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, var(--start-color) 0%, var(--end-color) 100%);
}

.star {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    // background: white;
    // background-color: url('./../../stories/assets/InterestBasedQuiz/starry-night-sky.png');
    background-image: url('./../assets/InterestBasedQuiz/starry-night-sky.png');
}

.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 24px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #FFFFFF80;
    transition: border 0.5s;

    &:hover {
        border: 1px solid red;
    }
}

.ovals {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;

    .item {
        content: url('./../assets/InterestBasedQuiz/SimeEllipse.png');
    }
}