@property --start-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #99CEFF;
}

@property --end-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #FFE0E0;
}

.background {
    --start-color: #99CEFF;
    --end-color: #FFE0E0;
    position: relative;
    overflow: hidden;
    transition: --start-color 1.5s, --end-color 1.5s;
    height: 100dvh;
    width: 100vw;
    background: linear-gradient(180deg, var(--start-color) 0%, var(--end-color) 100%);
}

.star {
    height: 100dvh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
    background-position: center;
    background-size: cover;
    background-image: url('./../assets/InterestBasedQuiz/starry-night-sky.png');
}

.container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
    position: absolute;
}

.close {
    z-index: 2;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    right: 27px;
    top: 27px;
    align-self: flex-end;
    justify-content: end;
    width: 20px;
    height: 20px;
    padding: 13px;
    content: url('./../assets/InterestBasedQuiz/close_icon.png');
    border-radius: 50%;
    border: 1px solid #FFFFFF80;
    transition: border 0.5s;

    &:hover {
        content: url('./../assets/InterestBasedQuiz/close_icon_red.png');
        border: 1px solid red;
    }
}

.ovals {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 12px;

    .item {
        content: url('./../assets/InterestBasedQuiz/SimeEllipse.png');
    }
}

.lostHeading {
    color: white;
    font-family: Poppins;
    font-size: 34px;
    font-weight: 600;
    line-height: 56.44px;
    letter-spacing: 0.025em;
    text-align: center;
    transition: opacity 2s 1.5s;
    opacity: 0;
    max-width: 800px;
}


.lostSub {
    color: white;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    line-height: 43.16px;
    letter-spacing: 0.025em;
    text-align: center;
    // 3.3 seconds he 8.28s
    transition: opacity 2s 1.5s;
    opacity: 0;
    max-width: 800px;
}

.visible {
    opacity: 1;
}

.finaltext {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 55.8px;
    letter-spacing: 0.025em;
    text-align: center;
    color: white;
    max-width: 955px;
    animation: finaltext 1s;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(170deg, #FFFFFF 21.5%, #FFC328 100%);
    background-clip: text;
}

.finaltextgradient {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #FFFFFF 21.5%, #FFC328 100%);
    background-clip: text;
}

@keyframes finaltext {
    0% {
        opacity: 0;
        translate: 100vw 0px;
    }

    100% {
        opacity: 1;
        translate: 0;
    }
}

.button {
    margin-top: 50px;
    width: 600px;
    animation: button 1s;
}

.height {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

@keyframes button {
    0% {
        opacity: 0;
        translate: 0px 20vh;
    }

    100% {
        opacity: 1;
        translate: 0;
    }
}

.lottie {
    width: fit-content;
    height: fit-content;
    transition: translate 1.5s;
    translate: 0px 20vh;
}

.move_lottie {
    translate: 0px 0px;
}

.skip {
    z-index: 2;
    position: relative;
    cursor: pointer;
    width: min-content;
    height: min-content;
    margin-left: auto;
    position: relative;
    right: 27px;
    top: 27px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.interuptions{
    z-index: 3;
    background-color: #000000BF;
    position: absolute;
    width: 100vw;
    top: 0;
    height: 100dvh;
}


@media screen and (max-width: 700px) {
    .height {
        height: 30vh;
        padding: 0px 20px;
    }
    .ovals {
        justify-content: center;
    }

    .lostHeading {
        font-size: 20px;
        
    }

    .lostSub {
        font-size: 16px;
        line-height: 26.56px;
    }

    .finaltext {
        font-size: 16px;
        line-height: 29.76px;
    }

    // .finaltextgradient2 {
    //     -webkit-text-fill-color: transparent;
    //     background: linear-gradient(to right, #FFFFFF 50%, #FFC328 100%);
    //     background-clip: text;

    // }

    // .finaltextgradient3 {
    //     -webkit-text-fill-color: transparent;
    //     background: linear-gradient(to right, #FFFFFF 10%, #FFC328 100%);
    //     background-clip: text;

    // }

    .button{
        width: 100% !important;
        box-sizing: border-box !important;
    }
}
